* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
}

*::selection {
	background-color: rgba(255, 255, 255, 0.99);
	color: $purple;
	opacity: 0.99;
}

body {
	position: relative;
	background-color: $purple;
	width: 100%;
	overflow: hidden;
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.section {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	&__inner {
		margin: 0 80px; 
	}
	
}

@media (max-width: 750px) {

	.section {

		&__inner {
			margin: 0 32px !important;
		}

	}

}