/* SOLID COLORS */
$white: #ffffff;
$purple: #684BB1;
$purple-light: #E6DCF3;
$magenta: #FF52C1;
$pink: #E880E8;
$cyan: #00C7FA;
$blue: #007DFA;
$black: #00252E;
$yellow: #FAD961;
$grey-light: #E1E8EE;
$grey-medium: #A7B9C8;

/* GRADIENT COLORS */
$gradient-yellow-magenta: linear-gradient(156.66deg, $yellow -11.16%, $magenta 106.32%);
$gradient-cyan-blue: linear-gradient(180deg, $cyan 0%, $blue 100%);
$gradient-purble-magenta:  linear-gradient(151.17deg, $purple 10.29%, $magenta 103.77%);